---
layout: page
title: Article list
---

  {% for item in site.posts %}
      <h3><a href="{{ item.url }}">{{ item.title | escape }}</a>
      </h3>
      <h6>
      <span>
        {{ item.date | date: site.date_format | escape }}

        {% if item.last_modified_date %}
          &nbsp; &bull; &nbsp; last modified
          {{ item.last_modified_date | date: site.date_format | escape }}
        {% endif %}

        &nbsp; &bull; &nbsp;
        {% assign words = item.content | number_of_words %}
        {% if words < 360 %}
          1 min read
        {% else %}
          {{ words | divided_by:180 }} min read
        {% endif %}
      </span>
      </h6>
    {% endfor %}

<h2>Keep in touch</h2>

 <ul>
   <li><a href="https://primal.net/profile/npub1vy40z9dxr943vkz6xp54elflf7hxcly46q2qwcpvzfy47qq3syxqqchgk3">Nostr (primal.net)</a></li>
   <li><a href="https://iris.to/verity">Nostr (iris.to)</a></li>
   <li><a href="https://github.com/verityj/verityj.github.io/discussions/1">GitHub discussion</a></li>
</ul>

<h2>Show your support</h2>

<p><img src="/assets/images/strike.png" width="20px;" /> &emsp; Tip a satoshi with Lightning <a href="https://strike.me/verity/">(Strike)</a></p>

<p><img src="/assets/images/sponsor.png" width="20px;" /> &emsp; <a href="https://github.com/sponsors/verityj/">Sponsor through GitHub</a></p>

<p><img src="/assets/images/p.png" width="20px;" /> &emsp; And lo and behold there was <a href="https://www.paypal.com/donate/?hosted_button_id=D2SU4GD8PEXCW">PayPal</a></p>
