$blue:  #0000FF;
$gray:  #A9A9A9;
$red:  rgb(255,0,0);

.highlight {
  .bp    { color: $code-font-color } // Name.Builtin.Pseudo
  .c     { color: $gray; font-style: normal } // Comment
  .c1    { color: $gray; font-style: normal } // Python: comment
  .cp    { color: $gray; font-style: normal; font-weight: normal; font-family: $code-font-family } // Swift: comment
  .cm    { color: $gray } // Comment.Multiline
  .cp    { color: $gray } // Comment.Preproc
  .cs    { color: $gray } // Comment.Special
  .err   { color: $code-font-color; background-color: $code-block-background } // Error
  .gd    { color: $code-font-color } // Generic.Deleted
  .gd .x { color: $code-font-color } // Generic.Deleted.Specific
  .ge    { color: $code-font-color } // Generic.Emph
  .gr    { color: $code-font-color } // Generic.Error
  .gh    { color: $code-font-color } // Generic.Heading
  .gi    { color: $code-font-color } // Generic.Inserted
  .gi .x { color: $code-font-color } // Generic.Inserted.Specific
  .go    { color: $code-font-color } // Generic.Output
  .gp    { color: $code-font-color } // Generic.Prompt
  .gs    { color: $code-font-color } // Generic.Strong
  .gu    { color: $code-font-color } // Generic.Subheading
  .gt    { color: $code-font-color } // Generic.Traceback
  .il    { color: $code-font-color } // Literal.Number.Integer.Long
  .k     { color: $code-font-color; font-weight: normal } // mano: if, else, for
  .kc    { color: $blue; font-weight: normal } // Keyword.Constant - Swift: true, false
  .kd    { color: $code-font-color; font-weight: normal } // Keyword.Declaration
  .kn    { font-weight: normal } // Python (import)
  .kp    { color: $code-font-color } // Keyword.Pseudo
  .kr    { color: $code-font-color } // Keyword.Reserved
  .kt    { color: $code-font-color; font-weight: normal } // Keyword.Type Swift: bold
  .m     { color: $code-font-color } // Literal.Number
  .mf    { color: $code-font-color } // Literal.Number.Float
  .mh    { color: $code-font-color } // Literal.Number.Hex
  .mi    { color: $code-font-color } // Literal.Number.Integer - Python + Swift: numbers
  .mo    { color: $code-font-color } // Literal.Number.Oct
  .n     { color: $code-font-color } // Python: false and other words. Swift: other words
  .na    { color: $code-font-color } // Name.Attribute
  .nb    { color: $code-font-color } // Name.Builtin - mano (blue? for "true, date, grep, times, float, min" )
  .nc    { color: $code-font-color } // Name.Class
  .no    { color: $code-font-color } // Name.Constant
  .ni    { color: $code-font-color } // Name.Entity
  .ne    { color: $code-font-color } // Name.Exception
  .nf    { color: $code-font-color } // Name.Function
  .nn    { color: $blue } // Name.Namespace - Python (true)
  .nt    { color: $code-font-color } // Name.Tag
  .nv    { color: $code-font-color } // Name.Variable
  .o     { color: $code-font-color; font-weight: normal } // mano: python operator
  .p     { color: $code-font-color; font-weight: normal } // mano: python parenthesis
  .ow    { color: $code-font-color } // Operator.Word
  .s     { color: $code-font-color } // Literal.String
  .s1    { color: $code-font-color } // Literal.String.Single
  .s2    { color: $code-font-color } // Literal.String.Double
  .sb    { color: $code-font-color } // Literal.String.Backtick
  .sc    { color: $code-font-color } // Literal.String.Char
  .sd    { color: $code-font-color } // Literal.String.Doc
  .se    { color: $code-font-color } // Literal.String.Escape
  .sh    { color: $code-font-color } // Literal.String.Heredoc
  .si    { color: $code-font-color } // Literal.String.Interpol
  .sx    { color: $code-font-color } // Literal.String.Other
  .sr    { color: $code-font-color } // Literal.String.Regex
  .ss    { color: $code-font-color } // Literal.String.Symbol
  .vc    { color: $code-font-color } // Name.Variable.Class
  .vg    { color: $code-font-color } // Name.Variable.Global
  .vi    { color: $code-font-color } // Name.Variable.Instance
  .w     { color: $code-font-color } // Text.Whitespace
}
// From https://github.com/jekyll/minima/blob/2863624b903b17f838d6ce8d2f77900fa9d3c864/_sass/minima/skins/auto.scss#L142
// example: font-weight: normal
// example: color: #900; font-weight: normal
// example: color: #000; background-color: #dfd
// example: color: #999988; font-style: normal
// example: color: #999999; font-weight: bold; font-style: italic
