/* ==========================================================================
   Syntax highlighting
   ========================================================================== */

/* syntax highlighting (base16) */
/* $base00: #263238 !default; */
$base00: $code-background;
$base01: #2e3c43 !default;
$base02: #314549 !default;
$base03: #546e7a !default;
$base04: #b2ccd6 !default;
/* $base05: #eeffff !default; */
$base05: $code-font-color;
/* $base06: #eeffff !default; */
$base06: $code-background;
$base07: #ffffff !default;
$base08: #f07178 !default;
$base09: #f78c6c !default;
$base0a: #ffcb6b !default;
$base0b: #c3e88d !default;
$base0c: #89ddff !default;
$base0d: #82aaff !default;
$base0e: #c792ea !default;
$base0f: #ff5370 !default;

div.highlighter-rouge,
/* removed border-radius: $border-radius; */
/* color: $base05; */
figure.highlight {
   position: relative;
   margin-bottom: 1em;
   background: $code-background;
   font-family: $code-font-family;
   font-size: $code-font-size;
   line-height: 1.8;
   
   /* changed padding: 1em; */
   > pre,
   pre.highlight {
      margin: 0;
      padding: 0;
   }
}

/* changed font-size: 1em; */
.highlight table {
   margin-bottom: 0;
   font-size: $code-font-size;
   border: 0;
      
   td {
      padding: 0;
      width: calc(90% - 1px);
      border: 0;
      
      /* line numbers*/
      /* removed border-right: 1px solid $code-font-color; */
      /* changed padding-right: 1px; */
      /* changed width */
      /* color is for line number color */
      /* changed text-align: right; */
      /* changed width: 5px; */
      &.gutter,
      &.rouge-gutter {
         padding-right: 0px;
         width: 1px;
         color: $code-font-color;
         text-align: left;
      }
      /* code */
      /* changed padding 1em */
      &.code,
      &.rouge-code {
         padding-left: 0px;
      }
   }
   pre {
      margin: 0;
   }
}

.highlight pre {
   width: 100%;
}
.highlight .hll {
   background-color: $code-background;
}

.gist {
   th, td {
      border-bottom: 0;
   }
}
