$blue:     #0000FF;
$gray:     #A9A9A9;

.highlight {
    .c     { color: $gray; font-style: normal } // Comment
    .err   { color: $code-font-color; background-color: $code-block-background } // Error
    .k     { color: $code-font-color } // Keyword
    .o     { font-weight: bold } // Operator
    .cm    { color: $gray } // Comment.Multiline
    .cp    { color: $gray } // Comment.Preproc
    .c1    { color: $gray } // Comment.Single
    .cs    { color: $gray } // Comment.Special
    .gd    { color: $code-font-color } // Generic.Deleted
    .gd .x { color: $code-font-color } // Generic.Deleted.Specific
    .ge    { color: $code-font-color } // Generic.Emph
    .gr    { color: $code-font-color } // Generic.Error
    .gh    { color: $code-font-color } // Generic.Heading
    .gi    { color: $code-font-color } // Generic.Inserted
    .gi .x { color: $code-font-color } // Generic.Inserted.Specific
    .go    { color: $code-font-color } // Generic.Output
    .gp    { color: $code-font-color } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #aaa } // Generic.Subheading
    .gt    { color: #a00 } // Generic.Traceback
    .k     { font-weight: bold }    // mano: keyword
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { font-weight: bold } // Keyword.Declaration
    .kp    { font-weight: bold } // Keyword.Pseudo
    .kr    { font-weight: bold } // Keyword.Reserved
    .kt    { color: #458; font-weight: bold } // Keyword.Type
    .m     { color: #099 } // Literal.Number
    .s     { color: #d14 } // Literal.String
    .s1    { color: $code-font-color }    // mano: string
    .s2    { color: $code-font-color }    // mano: string
    .na    { color: $code-font-color } // Name.Attribute
    .nb    { color: $blue } // Name.Builtin - mano (blue for "true, date, grep, times" )
    .nc    { color: $code-font-color; font-weight: bold } // Name.Class
    .no    { color: $code-font-color } // Name.Constant
    .ni    { color: $code-font-color } // Name.Entity
    .ne    { color: $code-font-color; font-weight: bold } // Name.Exception
    .nf    { color: $code-font-color; font-weight: bold } // Name.Function
    .nn    { color: $code-font-color } // Name.Namespace
    .nt    { color: $code-font-color } // Name.Tag
    .nv    { color: $code-font-color } // Name.Variable
    .o     { font-weight: bold }    // mano: operator
    .p     { color: $code-font-color }        // mano: parenthesis
    .ow    { font-weight: bold } // Operator.Word
    .w     { color: $code-font-color } // Text.Whitespace
    .mf    { color: $code-font-color } // Literal.Number.Float
    .mh    { color: $code-font-color } // Literal.Number.Hex
    .mi    { color: $code-font-color } // Literal.Number.Integer
    .mo    { color: $code-font-color } // Literal.Number.Oct
    .sb    { color: $code-font-color } // Literal.String.Backtick
    .sc    { color: $code-font-color } // Literal.String.Char
    .sd    { color: $code-font-color } // Literal.String.Doc
    .s2    { color: $code-font-color } // Literal.String.Double
    .se    { color: $code-font-color } // Literal.String.Escape
    .sh    { color: $code-font-color } // Literal.String.Heredoc
    .si    { color: $code-font-color } // Literal.String.Interpol
    .sx    { color: $code-font-color } // Literal.String.Other
    .sr    { color: $code-font-color } // Literal.String.Regex
    .s1    { color: $code-font-color } // Literal.String.Single
    .ss    { color: $code-font-color } // Literal.String.Symbol
    .bp    { color: $code-font-color } // Name.Builtin.Pseudo
    .vc    { color: $code-font-color } // Name.Variable.Class
    .vg    { color: $code-font-color } // Name.Variable.Global
    .vi    { color: $code-font-color } // Name.Variable.Instance
    .il    { color: $code-font-color } // Literal.Number.Integer.Long
}
// From https://github.com/jekyll/minima/blob/2863624b903b17f838d6ce8d2f77900fa9d3c864/_sass/minima/skins/auto.scss#L142
// example: font-weight: bold
// example: color: #900; font-weight: bold
// example: color: #000; background-color: #dfd
// example: color: #999988; font-style: italic
// example: color: #999999; font-weight: bold; font-style: italic
