@import
  "rouge-github",
  url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap'),
  url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700');

@font-face {
  font-family: WorkSans;
  src: url("/assets/Work_Sans/WorkSans-VariableFont_wght.ttf") format('truetype');
  font-style: normal;
}
@font-face {
  font-family: WorkSans;
  src: url("/assets/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf") format('truetype');
  font-style: italic;
}
/* removed font-weight: 400; */

/* follow https://developers.google.com/fonts/docs/css2
 * @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:500');
 * @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300,700&family=Lato:wght@400');
 * @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700');
 * @import url('https://fonts.googleapis.com/css?family=Arvo:400,700,400italic');
 * @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Lato:wght@400&family=Arvo:ital,wght@0,400;0,700;1,400&display=swap');
 */

/* note on padding: top right bottom left */

/*************
  DEFINITIONS
 *************/
/* 2023.06.17 removed 'Lato' from sans-serif, removed 'Arvo' from second place serif */
/* 2023.06.17 added 'PT Mono' mac font */

$sans-serif: 'WorkSans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$serif: 'Cormorant Garamond', 'Times New Roman', 'Times', serif;

$base-font-family: $sans-serif;
$title-font-family: $serif;
$code-font-family: 'PT Mono', 'Monaco', 'Bitstream Vera Sans Mono', 'Lucida Console', 'Terminal', monospace;

$base-font-size: 15px !default;
$code-font-size: 13px;

$base-weight: 400;
$base-weight-bold: 550;
$title-weight: 700;

$base-line-height: 1.6;
$code-line-height: 1.6;
$header-line-height: 1.2;

$base-background: rgb(255,251,251); /* default: #FBFAF7; */
$code-background: rgb(255,255,255);
$code-block-background: $code-background;
$header-background: rgb(175,175,175);
$code-block-border: 1px solid $header-background;
$link-color: rgb(195,0,0); /* #C30000 - red */

$base-font-color: rgb(50,50,50);
$button-font-color: rgb(255,255,255); /* white #fff */
$code-font-color: #000000;
$header-font-color: $base-background;
$headings-font-color: #232323;
$header-line-color: #ccc;

$border-radius: 4px;
$section-width: 650px;
$side-width: 250px;

@import
  "functions", // Add custom functions, call in main markdown \{\: .text-center \}
  "syntax-code-highlight"; // Hook to add code highlighting. After global definitions above

/* MeyerWeb Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* width will include padding and border */
/* https://www.w3schools.com/css/css3_box-sizing.asp */
* {
  box-sizing: border-box;
}

/***********
  BASE TEXT
 ***********/

/* 2023.06.16 added Lato */
/* 2023.06.16 font-size: 14px; */
/* 2023.06.17 changed line-height: 1.8em; changed Lato to Arvo (serif) */
body {
  padding: 10px 50px 50px 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-weight;
  font-color: $base-font-color;
  background-color: $base-background;
  margin: 0;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
  color: $headings-font-color;
  margin-top: 30px;
  margin-bottom: 10px;
}

h6 {
  color: $headings-font-color;
  margin-top: 10px;
  margin-bottom: 10px;
}

p, ul, ol, table, dl {
  margin-top: 10px;
  margin-bottom: 10px;
  
}

/* 2023.06.16 added 'Cormorant Garamond' */
/* 2023.06.17 removed font-weight: normal; */
/* 2023.06.17 changed font-family: 'Cormorant Garamond', Arvo, Monaco, serif; */
h1, h2, h3, h4, h5, h6 {
  font-family: $title-font-family;
  line-height: $header-line-height;
}

h1, h2, h3, h4 {
  display: block;
  border-bottom: 1px solid $header-line-color;
  padding-bottom: 5px;
  font-weight: $title-weight;
}

h1 {
  font-size: $base-font-size + 16px;
}

h2 {
  font-size: $base-font-size + 12px;
}

h3 {
  font-size: $base-font-size + 9px;
}

h4 {
  font-size: $base-font-size + 6px;
}

h5 {
  font-size: $base-font-size + 4px;
}

/* h6 is used for dates and how long a read is */
h6 {
  font-size: $base-font-size + 4px;
}

/* 2023.06.17 original font-weight:200; */
/* 2023.07.20 removed font-weight: $base-weight; */
a {
  color: $link-color;
  text-decoration: none;
}

/* Removed text-decoration: underline; */
a:hover {
  text-decoration: none;
}

/* 2023.06.16 changed from 12px; */
a small {
  font-size: $base-font-size - 1px;
}

em {
  font-style: italic;
}

strong {
  font-weight: $base-weight-bold;
}

/* could play with: list-style: disc inside url("/assets/images/dash.png"); */
/* original: list-style-position: inside; */
/* original: list-style: disc; */
ul {
  list-style: disc outside;
  padding-left: 25px;
}

/* could play with: list-style-type: decimal-leading-zero; - or - lower-greek; - or - upper-roman; */
/* https://www.w3schools.com/cssref/playdemo.php?filename=playcss_list-style */
/* original: padding-left: 25px; */
ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

blockquote {
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

/* #444 medium gray */
dl, dt, dd, dl p {
  color: #444;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

/* Horizontal line, thematic break */
hr {
  border: 0;
  background: $header-line-color;
  height: 1px;
  margin: 20px 0 20px;
}

/********
  IMAGES
 ********/

/* 2023.06.12 added border-radius like code blocks */
/* 2023.06.15 original: padding: 5px; */
img {
  position: relative;
  margin: 0 auto;
  max-width: $section-width;
  padding: 10px;
  margin: 10px 0 32px 0;
  border-radius: $border-radius;
  border: 1px solid $header-line-color;
}

p img, .emoji {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

/* (mano)
 * Requires width % specified:
 * <img class="centered" width="10%;" src="/assets/images/qr-primal-verity.png" />
 * 2023.06.15 removed margin: auto; replaced to give space top and bottom
 */
.centered {
  border-radius: $border-radius;
  border: 1px solid #D7D8C8;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

/*************
  CODE BLOCKS
 *************/

/* 2023.06.08 added background */
/* background: #F1F1F1; - background for inline code and in code block (pre) */
/* 2023.06.17 removed background-color: $code-background; */
code, pre {
  font-family: $code-font-family;
  font-color: $code-font-color;
}

/* original: background: #FDFEFB; */
/* changed 2023.06.08 */
/* background: #F1F1F1; - means background for code block around the text */
/* 2023.06.17 added display: block; */
pre {
  padding: 4px 12px;
  border-radius: $border-radius;
  border: $code-block-border;
  overflow: auto;
  overflow-y: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: $code-line-height;
}

/* code blocks are inside preformatted highlight */
pre.highlight {
  font-size: $code-font-size;
  background-color: $code-block-background;
}

/* inline code class */
/* removed border: 1px solid #D7D8C8; */
code.highlighter-rouge {
  font-size: $code-font-size + 1px;
  background-color: $code-background;
  padding: 1px 2px 1px 2px;
  border-radius: 4px;
}
/* line numbers */
.rouge-gutter {
  padding-right: 0px;
  color: $code-font-color;
  text-align: right;
}
/* code */
.code,
.rouge-code {
  padding-left: 0px;
}

// Embedded gist bottom line
div.gist-file > .gist-meta {
  font-size: unset;
  font-size: $base-font-size - 1px;
  font-family: unset;
  font-family: $sans-serif;
  > a {
    font-weight: unset;
    font-weight: $base-weight-bold;
  }
}

/********
  TABLES
 ********/

table {
  width: 100%;
}

/* 2017.06.18 removed border: 1px solid #ccc; */
table {
  margin-bottom: 32px;
  text-align: left;
 }

/* th is a header cell */
/* 2023.06.16 added Lato */
/* 2023.06.17 removed font-weight: normal; */
/* original: color: #FDFEFB; - that's greenish */
th {
  font-family: $sans-serif;
  font-size: 18px;
  padding: 10px;
  background: $headings-font-color;
  color: #FDFEFB;
 }

/* 2023.06.18 removed background: #ccc; */
/* don't need dark cells */
td {
  padding: 10px;
 }

/*********
  Wrapper
**********/

.wrapper {
  width: $section-width + $side-width;
}

/********
  HEADER
 ********/

/* background-color: #585858; */
/* 2023.06.17 removed background-color: $header-background; */
/* 2023.06.17 added gradient background, max compatibility, from */
/* https://cssgradient.io */
/* start color is $header-background */
/* 2023.06.18 removed border: 1px solid #000; */
/* 2023.06.18 changed white text (color: #FDFDFB) */
/* note on padding: top right bottom left */
/* original: padding: 34px 25px 22px 50px; */
/* original: margin: 30px 25px 0 0; */
/* original: width: 170px; */
/* margin top moves the gray box down */
header {
  font-color: $header-font-color;
  background: $header-background;
  width: $side-width;
  float: left;
  position: fixed;

  -webkit-border-top-right-radius: $border-radius;
  -webkit-border-bottom-right-radius: $border-radius;
  -moz-border-radius-topright: $border-radius;
  -moz-border-radius-bottomright: $border-radius;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  padding: 0px 20px 20px 20px;
  margin: 30px 10px 10px 0px;
  -webkit-font-smoothing: antialiased;
}

p.header {
  font-size: $base-font-size - 1px;
  font-family: $sans-serif;
}

/* 2023.06.16 added 'Cormorant Garamond' - serif looks better than Lato sans-serif */
/* 2023.06.17 removed font-weight: 300; */
/* 2023.06.17 changed font-size: 30px; */
/* line-height: 1.3em; */
/* removed: font-color: $header-font-color; */
/* removed: margin-top: 0; default is 30px, above*/
h1.header {
  font-family: $serif;
  font-weight: $title-weight;
  line-height: $header-line-height;
  border-bottom: none;
}

/* removed h1.header - should not be white
 * removed links being white, moved color to ul below
 * a.header, a.name, header a{
 *  color: #fff;
 * }
 */

/* Header title color setting */
/* removed to keep link default red: color: $header-font-color; */
header a {
  color: $header-font-color;
}
header a:hover {
  text-decoration: none;
  text-shadow: #fff 0px 0px 10px;
}
/* text-shadow: color | offset-x | offset-y | blur-radius */
/* for hovering, it's too big: text-transform: uppercase; */

a.name {
  white-space: nowrap;
}

header ul {
  list-style: none;
  padding: 0;
}

header li {
  list-style-type: none;
  width: 150px;
  height: 30px;
  margin-bottom: 15px;
  line-height: 1;
  padding: 7px 7px 7px 7px;

  background: #AF0011;
  background: -moz-linear-gradient(top, #AF0011 0%, #820011 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #AF0011 0%,#820011 100%);
  background: -o-linear-gradient(top, #AF0011 0%,#820011 100%);
  background: -ms-linear-gradient(top, #AF0011 0%,#820011 100%);
  background: linear-gradient(to top, #AF0011 0%,#820011 100%);

  border-radius: $border-radius;
  border: 1px solid #0D0D0D;

  -webkit-box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);
  box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);
}

header li:hover {
  background: #C3001D;
  background: -moz-linear-gradient(top, #C3001D 0%, #950119 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #C3001D 0%,#950119 100%);
  background: -o-linear-gradient(top, #C3001D 0%,#950119 100%);
  background: -ms-linear-gradient(top, #C3001D 0%,#950119 100%);
  background: linear-gradient(to top, #C3001D 0%,#950119 100%);
}

/* 2023.06.16 added font-size */
/* 2023.06.17 added font-family */
/* color: #fff - white */
a.buttons {-webkit-font-smoothing: antialiased;
  background: url(../images/arrow-down.png) no-repeat;
  font-family: $sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: $button-font-color;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  padding: 2px 2px 2px 22px;
  height: 30px;
}

a.buttons-u {
  -webkit-font-smoothing: antialiased;
  background: url(/assets/images/arrow-up.png) no-repeat 1px;
  font-family: $sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  padding: 2px 2px 2px 22px;
  height: 30px;
}

a.buttons-u:hover {
  color: $button-font-color;
  text-decoration: none;
}

a.buttons-r {
  -webkit-font-smoothing: antialiased;
  background: url(/assets/images/arrow-right.png) no-repeat;
  font-family: $sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  padding: 2px 2px 2px 22px;
  height: 30px;
}

a.buttons-r:hover {
  color: $button-font-color;
  text-decoration: none;
}

a.nostr {
  background: url(/assets/images/nostr25x25.png) no-repeat -4px;
}

a.about {
  background: url(/assets/images/user.png) no-repeat -2px;
}

a.list {
  background: url(/assets/images/list.png) no-repeat -2px;
}

a.github {
  background: url(../images/octocat-small.png) no-repeat 1px;
}

a.buttons:hover {
  color: $button-font-color;
  text-decoration: none;
}

/* Section - for main page content */

/* default width: 650px; */
section {
  width: $section-width;
  float: right;
  padding-bottom: 10px;
  padding-left: 50px;
}

/********
  FOOTER
 ********/

/* same width as the header */
/* default padding-left: 50px; */
/* 2023.06.18 added font-size */
footer {
  width: $side-width;
  float: left;
  position: fixed;
  bottom: 10px;
  padding-left: 20px;
  font-size: 14px;
  text-align: left;
}

/*****************
  SMALLER SCREENS
 *****************/

/* original max-width: 960px; */
/* 2023.06.20 what if I add pagination line 589 */
@media print, screen and (max-width: $section-width + $side-width) {
  div.wrapper {
    width: auto;
    margin: 0;
  }
  header,
  section,
  footer,
  .pagination {
    float: none;
    position: static;
    width: auto;
  }
  /* leave space for buttons on the right */
  header {
    padding-right: 220px;
    padding-top: 1px;
    padding-left: 60px;
  }
  section {
    padding: 0 0 0 0;
    margin: 0 0 30px 30px;
  }
  header a small {
    display: inline;
  }
  /* button position on the right */
  /* top: 84px; right: 130px; */
  header ul {
    position:absolute;
    right: 80px;
    top: 40px;
  }
  footer {
    border-top: 1px solid $header-line-color;
    margin: 0 0 5px 30px;
    padding: 0;
  }
}

/* original max-width: 720px; */
@media print, screen and (max-width: $section-width + 70px) {
  body {
    word-wrap: break-word;
  }
  header {
    padding: 1px 10px 10px 10px;
    margin-right: 0;
  }
  section {
    padding: 0 0 0 0;
    margin: 0 0 30px 10px;
  }
  footer {
    margin: 5px 0 10px 10px;
  }
  header ul, header p.view {
    position: static;
  }
}

/* original max-width: 480px; */
@media print, screen and (max-width: $section-width - $side-width) {
  header ul li.download {
    display: none;
  }
  footer {
    margin: 5px 0 5px 5px;
  }
  footer a {
    display: block;
  }
}

/* font-size: 12pt; */
@media print {
  body {
    padding: 0.4in;
    font-size: $base-font-size -1px;
    color: #444;
  }
}

/***********
 * FOOTNOTE
 ***********/

/* burnt orange background: background-color: rgb(204,85,0); */
/* white text: color: rgb(255,255,255); */
/* leaving as base color: color: $base-font-color; */
/* font-size: $base-font-size + 2px; */
/* font-family: $serif; */
/* text-emphasis-style: 'x'; */
/* background-color: rgb(245,245,245); */
/* border-radius: $border-radius; */
/* border: $code-block-border; */
/* padding: 1px 1px 1px 1px; */

a[rel="footnote"] {
  font-weight: $title-weight;
  padding: 0px 2px 0px 2px;
}

a[rel="footnote"]:before {
  content: "(";
  font-weight: $base-weight;
}

a[rel="footnote"]:after {
  content: ")";
  font-weight: $base-weight;
}

/* lighter orange background: background-color: rgb(233,116,81); */
a[rel="footnote"]:hover {
  text-decoration: none;
  background-color: rgb(247,247,247);
}

/* bottom footnote arrow back to main text */
a[rev="footnote"]:hover {
  text-decoration: none;
  background-color: rgb(245,245,245);
  border-radius: $border-radius;
}

/* From https://github.com/poole/hyde/blob/7c7f7550898e081264d255ef429a134fb00c72a8/public/css/poole.css#L26
 *
 * PAGINATION
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

/* 2023.06.16 added font-family, font-size */
.pagination {
  overflow: hidden; /* clearfix */
  margin-left: 0;
  margin-right: 0;
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: $sans-serif;
  font-size: $base-font-size;
  color: $header-line-color;
  text-align: center;
}

/* Pagination items can be `span`s or `a`s */
/* total displayed width = border.box (defined on top) */
/* max-width: $section-width / 3; */
.pagination-item {
  display: block;
  padding: 5px 5px 5px 5px;
  float: left;
  width: 40%;
  min-width: 30px;
}
/* "Current page" does not need much space */
.pagination-item:nth-child(2) {
  width: 20%;
  min-width: 30px;
}

/* Only provide a hover state for linked pagination items */
a.pagination-item:hover {
  background-color: $code-block-background;
}

@media (min-width: 100px) {
  .pagination {
  }
  .pagination-item {
  }
  .pagination-item:first-child {
    border-top-left-radius:    $border-radius;
    border-bottom-left-radius: $border-radius;
  }
  .pagination-item:last-child {
    border-top-right-radius:    $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

/* Next post link */
.next-post {
  float: right;
  padding-bottom: 20px;
}
.previous-post {
  padding-bottom: 20px;
}
.next-post:hover {
  background-color: $code-block-background;
}
.previous-post:hover {
  background-color: $code-block-background;
}

/* nocomment https://github.com/fiatjaf/nocomment */
/* put script inside <span class="nocomment"> */
/* background: outer background = body background */
/* text-background: comment box background = code block background */
/* text-color: $base-font-color; = comment time and comment text */
/* text-color-dark = "from <nostr username>" */
/* primary-color: button background and border */
/* primary-contrast: 'Get Key' button text */
.nocomment {
  all: revert;
  font-size: unset;
  font-size: $base-font-size !important;
  --nc-background: $base-background;
  --nc-container-font-family: $base-font-family;
  --nc-container-font-size: $base-font-size;
  --nc-comment-author-font-size: $base-font-size;
  --nc-comment-author-font-family: $serif;
  --nc-comment-author-font-color: rgb(80,80,247);
  --nc-comment-date-color: $base-font-color;
  --nc-comment-date-font-family: $sans-serif;
  --nc-comment-date-font-size: $base-font-size - 2px !important;
  --nc-link-text-decor: none;
  --nc-link-text-decor-hover: none;
  --nc-textarea-font-family: $base-font-family;
  --nc-textarea-font-size: $base-font-size;
  --nc-text-background: $code-block-background;
  --nc-text-color: $base-font-color;
  --nc-text-color-dark: rgb(80,80,247);
  --nc-primary-color: rgb(80,80,247);
  --nc-primary-contrast: rgb(255,255,255);
}
.nocomment button {
  font-size: revert;
  font-family: revert;
  font-size: $base-font-size - 2px;
  height: 32px; // svg 24 + 2x2 padding + 4 gap
}
.nocomment div {
  gap: 2px;
  padding: 2px;
}
