<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Added next 3 from https://stackoverflow.com/questions/24851824/how-long-does-it-take-for-github-page-to-show-changes-after-changing-index-html -->
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header"><a href="/">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>

        <ul>
          {% if site.show_downloads %}
            <li class="download"><a class="buttons" href="{{ site.github.zip_url }}">Download ZIP</a></li>
            <li class="download"><a class="buttons" href="{{ site.github.tar_url }}">Download TAR</a></li>
          {% endif %}
          <!-- <li><a class="buttons github" href="{{ site.github.repository_url }}">View On GitHub</a></li> -->
        
          <!-- <p class="header"><br /></p> -->
          <!-- <li><a class="buttons-u" href="/">Main page</a></li> -->
          <!-- <li><a class="buttons-r" href="/about">About me</a></li>  -->
          <li><a class="buttons about" href="/about">About me</a></li>
          <li><a class="buttons list" href="/archive">Article list</a></li>
          <li><a class="buttons nostr" href="/nostr-news-feeds">Nostr news list</a></li>
        </ul>
        <!-- <p class="header"><a href="/">Main page</a></p> -->
        <!-- <p class="header"><a href="/about">About me</a></p> -->

        <p class="header">View this project <a class="header" href="{{ site.github.repository_url }}">on GitHub</a></p>
        
      </header>

      <section>
        {{ content }}
      </section>
      
      <footer>
        <p>
          <img src="/assets/images/fav3.png" width="20px;" style="float: left; margin-left: 0px; margin-right: 5px; margin-top: 2px; margin-bottom: 0px; padding: 0px; border: 0px;" />
          Leave your mark and make a difference:
          <a href="https://strike.me/verity/">
            <!-- <img src="/assets/images/strike.png" alt="Strike link" style="width:20px;height:20px;" /> -->
            strike.me/verity
          </a>
        </p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
