---
layout: base
---

<section>

  <h2>
    <a href="/"><img src="/assets/images/fav2.png" width="22px;" style="float: left; margin-left: 0px; margin-right: 10px; margin-top: 5px; margin-bottom: 0px; padding: 0px; border: none;" /></a>
    {{ page.title | escape }}
  </h2>
    {{ content }}

<hr /> <!-- separate with a line -->

<span class="pagination">
  <span class="pagination-item">•</span>
  <a class="pagination-item" href="/">Main page</a>
  <span class="pagination-item">•</span>
</span>

</section>

<!-- made it a section instead of <div class="post"> -->
