---
layout: base
---
<article class="post">

  <h2>
    <a href="/"><img src="/assets/images/fav2.png" width="22px;" style="float: left; margin-left: 0px; margin-right: 10px; margin-top: 0px; margin-bottom: 0px; padding: 0px; border: none;" /></a>
    {{ page.title | escape }}
  </h2>

  <div class="post-content">
    {{ content }}
  </div>

</article>

<h5 /> <!-- add more space -->

<span class="pagination">
  <span class="pagination-item">•</span>
  <a class="pagination-item" href="/">Main page</a>
  <span class="pagination-item">•</span>
</span>
