---
layout: base
---

<section>
  
  <h1 class="post-title">
    <img src="/assets/images/fav1.png" width="22px;" style="float: left; margin-left: 0px; margin-right: 7px; margin-top: 5px; margin-bottom: 0px; padding: 0px; border: 0px;" />
    {{ page.title | escape }}</h1>
  <h6>
    <span>
      {{ page.date | date: site.date_format | escape }} 
      
      {% if page.last_modified_date %}
        &nbsp; &bull; &nbsp; last modified
        {{ page.last_modified_date | date: site.date_format | escape }}
      {% endif %}
      
      &nbsp; &bull; &nbsp;
      {% assign words = page.content | number_of_words %}
      {% if words < 360 %}
        1 min read
      {% else %}
        {{ words | divided_by:180 }} min read
      {% endif %}
    </span>
  </h6>
  {{ content }}

  <hr /> <!-- separate with a line -->

  <div class="Previous-next">
    {% if page.previous.url %}
      <a class="previous-post" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next-post" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </div>

  <h5 />

  <!-- Comment section: giscus app to cross post to Discussions (Utterances was to Issues) -->
  <script src="https://giscus.app/client.js"
        data-repo="verityj/verityj.github.io"
        data-repo-id="R_kgDOJrl4KA"
        data-category="General"
        data-category-id="DIC_kwDOJrl4KM4CXEpH"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
    </script>
    <!-- end of giscus app script -->

    <!-- cross linking to a BlueSky post about a blog post (link needs to be in blog top) -->
    {% if page.bluesky_post_url %}
      <div id="bluesky-comment-section" style="margin-top: 40px;">
        <h2>BlueSky comments</h2>
        <p style="font-size: 0.9em; color: #666;">
          Reply to <a href="{{ page.bluesky_post_url }}" target="_blank">this Bluesky post</a> to leave a comment.
        </p>
  
        <!-- Container where comments will load -->
        <div id="bluesky-comments"></div>

        <!-- Stylesheet for the comments -->
        <link rel="stylesheet" href="https://unpkg.com/bluesky-comments@0.9.0/dist/bluesky-comments.css">

        <!-- React Dependencies Import Map -->
        <script type="importmap">
        {
          "imports": {
            "react": "https://esm.sh/react@18",
            "react-dom": "https://esm.sh/react-dom@18"
          }
        }
        </script>

        <!-- Initialize Bluesky Comments -->
        <script type="module">
          import { initComments } from "https://unpkg.com";
          initComments({
            initTarget: "#bluesky-comments",
            commentUrl: "{{ page.bluesky_post_url }}"
          });
        </script>
      </div>
    {% endif %}
    <!-- end of: cross linking to a BlueSky post about a blog post -->
  
</section>

<!-- created section instead of <div class="post"> -->
