---
layout: base
---

<div class="post">
  <h2 class="post-title">{{ page.title }}</h2>
  <h6>
    <span>
      {{ page.date | date: site.date_format }} &nbsp; &bull; &nbsp;
      {% assign words = page.content | number_of_words %}
      {% if words < 360 %}
        1 min read
      {% else %}
        {{ words | divided_by:180 }} min read
      {% endif %}
    </span>
  </h6>
  {{ content }}
</div>

<h5 />
<span class="pagination">
  <span class="pagination-item older">•</span>
  <a class="pagination-item" href="/">Main</a>
  <span class="pagination-item older">•</span>
</span>
